/* General Container */
.contact-page-container {
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 1200px;
  margin: 50px auto;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

/* Left Section: Get in Touch */
.get-in-touch {
  background-color: #ffffff;
  flex: 2;
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
}

.get-in-touch h2 {
  font-size: 24px;
  color: #263238;
  margin-bottom: 20px;
}

/* Contact Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-row {
  display: flex;
  gap: 15px;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
  border-color: #607d8b;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.send-message-button {
  padding: 12px;
  border: none;
  background-color: #607d8b;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.send-message-button:hover {
  background-color: #455a64;
  transform: scale(1.05);
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.facebook-button,
.feedback-button {
  flex: 1;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  color: white;
  border-radius: 5px;
  background-color: #546e7a;
  transition: all 0.3s ease;
  margin: 0 10px;
}

.facebook-button:hover,
.feedback-button:hover {
  background-color: #37474f;
  transform: scale(1.05);
}

/* Right Section: Contact Information */
.contact-information {
  background-color: #263238;
  color: white;
  flex: 1;
  padding: 30px 20px;
}

.contact-information h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-information p {
  margin-bottom: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-information i {
  font-size: 18px;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 400px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #cfd8dc;
  border-radius: 5px;
  resize: none;
}

.submit-feedback-button {
  padding: 12px;
  background-color: #607d8b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-feedback-button:hover {
  background-color: #455a64;
}
