.home-page {
  position: relative;
  min-height: 100vh; /* Ensures the background covers the full page */
  overflow: hidden; /* Prevents scrollbars due to the blur */
}

.home-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/public/bgroom.jpg'); /* Replace with the path to your image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(2px); /* Adds blur to background */
  z-index: -1; /* Places the blurred background behind the content */
}



.hero-banner {


}

.hero-banner h1 {
  font-size: 3.5em;
  margin: 0;
}

.hero-banner p {
  font-size: 1.5em;
  margin: 20px 0;
}

.cta-button {
  background-color: #007bff;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #0056b3;
}

.features {
  padding: 50px 20px;
  text-align: center;
}

.features h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
}

.carousel img {
  width: 100%;
  height: auto; 
  object-fit: cover; 
  max-height: 250px; 
}

.features .carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
}


.cta-section {
  padding: 50px 20px;
  text-align: center;
}

.cta-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.cta-section p {
  font-size: 1.2em;
  margin: 20px 0;
}

.cta-section .cta-button {
  background-color: #28a745; 
}

.cta-section .cta-button:hover {
  background-color: #218838; 
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .testimonial, .feature {
      width: 45%; /* Two columns on medium screens */
  }
}

@media (max-width: 768px) {
  .testimonial, .feature {
      width: 100%; /* Stack on smaller screens */
      margin: 10px 0; 
  }

  .carousel img {
      width: 100%; 
  }

  .hero-banner h1 {
      font-size: 2.5em; 
  }

  .hero-banner p {
      font-size: 1.2em; 
  }

  .testimonials h2, .features h2, .cta-section h2 {
      font-size: 2em; 
  }
}

@media (max-width: 576px) {
  .hero-banner h1 {
      font-size: 2em; /* Further reduce heading size on extra small screens */
  }

  .hero-banner p {
      font-size: 1em; /* Smaller paragraph on extra small screens */
  }

  .cta-button {
      padding: 10px 20px; /* Adjust button size for mobile */
  }

  .testimonial p {
      font-size: 1em; /* Smaller text for testimonials on mobile */
  }
}