.homepage {
    font-family: Arial, sans-serif;
  }
  
  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004d33; /* Dark green */
    padding: 1rem 2rem;
  }
  
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }
  
  .logo {
    font-size: 1.5rem;
    color: #ffd700; /* Gold */
    font-weight: bold;
  }
  
  .nav-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 1rem;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    background-color: #fcfcfc; 
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
  }
  
  .nav-link {
    color: #000; /* Black */
    text-decoration: none;
    font-size: 1rem;
    position: relative;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 50%;
    background-color: #000; /* Black */
    transition: all 0.3s ease-in-out;
    transform: translateX(-50%);
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  

  
  .main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background: linear-gradient(135deg, #004d33 25%, #006644 50%, #339966 75%, #99cc99 100%);
    color: #fff;
  }
  
  .main-content h1 {
    font-size: 2rem;
    font-weight: normal;
  }
  
  .logo img {
    max-width: 100px; /* Adjust size as needed */
    height: auto;
  }