
.unit-card {
  background-color: #ffffff; /* White background */
  border: none;
  border-radius: 15px;
  overflow: hidden;
  width: 250px;
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.unit-card:hover {
  transform: translateY(-5px);
}

.unit-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.unit-details {
  background-color: #007bff; /* Blue background */
  padding: 15px;
  text-align: center;
  border-radius: 0 0 15px 15px;
}

.unit-title {
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* White text */
  margin-bottom: 10px;
}

.unit-capacity,
.unit-price {
  font-size: 14px;
  color: #fff; /* White text */
}

.unit-price .price {
  font-weight: bold;
  color: #e67e22; /* Orange price */
}

.view-details {
  margin-top: 10px;
  padding: 8px 20px;
  background-color: #f39c12; /* Button orange */
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.view-details:hover {
  background-color: #e67e22;
}
